@using EnglishNow.Web.Models.Erro

@model ErroViewModel
@{
	ViewData["Title"] = "Erro";
}

<h1 class="text-danger">Erro inesperado</h1>

<h2 class="text-danger">Um erro ocorreu na tentativa de processar sua requisição</h2>

<p>
	Detalhes do erro: <code>@Model.MensagemErro</code>
</p>

